body{
    background-color: #067eb6;
    overflow-x: hidden;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}


#flex {
    display: flex;
    box-sizing: border-box;
    height: 80vh;
    align-items: center;
    justify-content: center;
    transition: all 1000ms linear;
}

.box{
    position: relative;
    box-sizing: border-box;
    width: 16vw;
    height: 40vh;
    max-height: 22vw;
    background-color: #545454;
    color: rgb(195, 195, 195);
    transition:  transform, 1s, opacity 1s;
    box-shadow:-1px 5px 6px rgb(109, 109, 109);
    border-radius: 5%;
    text-align: center;
    padding:10px;
    border: 3px solid #747474;
}

.left_animation {
    animation: move_left 1s ease-in-out;
}

@keyframes move_left {
    100%{
        transform: translateX(-8%);
    }
}

.right_animation {
    animation: move_right 1s ease-in-out;
}

@keyframes move_right {
    100%{
        transform: translateX(8%);
    }
}

.apply_opacity {
    animation: opacity_visible 250ms ease-in-out;
}

@keyframes opacity_visible {
    0% {
        opacity: 0;
        transform: scale(0.75)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.slideButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slideButton {
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 120%;
    color: white;
    transition:  transform, 1s, opacity 1s;
    background: radial-gradient( #067eb6 20%,#005881 80%);
    box-shadow:0px 2px 3px rgb(212, 212, 212);
    border: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.slideButton:active {
    background: radial-gradient(#067eb6 0%, #005881 100%);
    transform: translateY(10%);
    box-shadow:0px 1px 3px rgb(182, 182, 182);
}